/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  background-image: url("file:///C:/Users/hp/Desktop/landing%20page/pexels-erik-mclean-7543641.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  font-size: 20px;
  text-align: center;
  color: #fefdfd
  
 
}

.hero-content h1 {
  font-size: 36px;
  margin-bottom: 20px;
  -webkit-text-stroke:1.5px #040404;
}



.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff6f00;
  color: #fcfbfb;
  text-decoration: none;
  border-radius: 4px;
}

.btn:hover {
  background-color: #ff8f00;
}

.featured-products {
  padding: 50px;
}

.featured-products h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.product {
  text-align: center;
  margin-bottom: 40px;
}

.product img {
  width: 200px;
  height: 200px;
 
}

.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: .5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 500px;
  margin-right: 500px;
}
